<link rel="stylesheet" type="text/css" href="/styles/homeStyle.css">


<div id="taskBar" class="taskBarShow">Test</div>
<div id="divot"></div>
<div id="map"></div>


<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdV9gyeVVXBDlS3nMqnI1Yh5rCf5zJP38&callback=mapObj.initMap">
</script>
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="/scripts/home.js"></script>