#map {
	height: 90%;
	position: relative;
}

#divot {
	z-index: 1;
	position: absolute;
	border: 1px solid black;
	border-radius: 5px;
	left: 47.5%;
	width:5%;
	height: 10px;
	text-align: center;
	background-color: blue;
}

.taskBarShow {
	background-color: red;
	height: 10%;
	transition: height 0.4s;
}

.taskBarHide {
	background-color: red;
	height: 0%;
	transition: height 0.4s;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }